.buttonText {
    width: 150px;
    height: 40px;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: #000;
    flex: 1;
    span {
        display: block;
        width: 20px;
        height: 20px;
        margin: 5px 20px;
        background-color: red;
    }
}