.textContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .textBase{
        color: red;
    }
    .strongClass{
        font-weight: 800;
        font-size: 34px;
    }
    .greenClass{
        font-weight: 400;
        color: greenyellow;
    }
}